---
layout: plain
---

<div id="content" class="uk-container">
    {% for item in site.data.index %}
    <div class="uk-grid-collapse uk-flex-center@s uk-margin-large-bottom" uk-grid>
        <div class="uk-width-1-1@s uk-width-2-3@m">
            <h3 id="item{{ forloop.index }}">{{ item.title }}</h3>
            {% if item.body %}
                {{ item.body | markdownify }}
            {% endif %}
            {% if item.gallery %}
            <!-- ## GALLERY ############################################## -->
            <div class="uk-slider-container-offset" uk-slider>
                <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">
                    <ul class="uk-slider-items uk-child-width-2-3@s uk-grid">
                    {% for gitem in item.gallery %}
                        <li>
                            <div class="uk-card uk-card-default">
                                <div class="uk-card-media-top">
                                    <img src="{{ gitem.pic }}" alt="">
                                </div>
                                <div class="uk-card-body">
                                    <h4 class="uk-card-title">{{ gitem.title }}</h4>
                                    {{ gitem.body | markdownify }}
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                    </ul>
                    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

                </div>
                <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
            </div>
            {% endif %}
            {% if item.people %}
            <!-- ## PEOPLE ############################################ -->
            <div class="uk-child-width-1-1 uk-child-width-1-2@s uk-child-width-1-2@m" uk-grid>
                {% for person in item.people %}
                <div id="person{{ forloop.index }}">
                    <div class="uk-margin-large-bottom uk-margin-large-top uk-flex-center" uk-grid>
                        <div class="uk-width-2-3">
                        <img class="uk-border-circle" src="/assets/img/{{ person.pic }}"/>
                        </div>
                        </div>
                    <h4 class="person-name" >{{ person.name }}</h4>
                    {{ person.bio | markdownify }}
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

