---
---
$sal-color-dark: #1b3764;

footer {
    background-color: $sal-color-dark;
    width: 100%;
    float: left;
}

#content {
    padding-top: 150px;
}

.uk-navbar-nav>li {
    white-space: nowrap;

    >a {
        min-height: 15px;
        >img {
            width: 100%;
            max-width: 12em;
            padding-top: 1ex;
            padding-left: 1em;
            transition: width 0.5s;
        }
    }
}
.uk-navbar-container.uk-sticky.uk-active img {
        max-width: 10em;
}

.people {
    h5 { margin-top: 1ex; }
    h4 { margin-bottom: 1ex; }
}
