---
---

$sal-color-dark: #1b3764;

footer {
    background-color: $sal-color-dark;
    width: 100%;
    float: left;
}

#content {
    padding-top: 150px;
}
uk-navbar-nav>li>a {
    min-height: 15px;
    max-width: 8em;
    img {
        width: 100%;
    }
}

@media (max-width: 639px) {
    #content {
        padding-top: 74vw;
    } 
}
